name: Build and deploy Node.js app to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: Create deployment artifact
        run: |
          # Create a zip containing only what's needed for production
          # dist: The frontend build
          # server: The express backend
          # package.json/yarn.lock: For dependency installation on Azure
          zip -r release.zip dist server package.json yarn.lock

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Unzip artifact for deployment
        run: unzip release.zip

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'organic-CEN-8333'
          # WARNING: Committing the publish profile to git is INSECURE. 
          # It is strongly recommended to use Repository Secrets.
          # If you must put it here, uncomment the line below and paste the XML content after the pipe (|)
          publish-profile: |
            <publishData><publishProfile profileName="organic-CEN-8333 - Web Deploy" publishMethod="MSDeploy" publishUrl="organic-cen-8333.scm.azurewebsites.net:443" msdeploySite="organic-CEN-8333" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="http://organic-cen-8333.azurewebsites.net" SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="organic-CEN-8333 - FTP" publishMethod="FTP" publishUrl="ftps://waws-prod-dm1-241.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="http://organic-cen-8333.azurewebsites.net" SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="organic-CEN-8333 - Zip Deploy" publishMethod="ZipDeploy" publishUrl="organic-cen-8333.scm.azurewebsites.net:443" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="http://organic-cen-8333.azurewebsites.net" SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile></publishData>
# publish-profile: |
            <publishData><publishProfile profileName="organic-CEN-8333 - Web Deploy" publishMethod="MSDeploy" publishUrl="organic-cen-8333.scm.azurewebsites.net:443" msdeploySite="organic-CEN-8333" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="http://organic-cen-8333.azurewebsites.net" SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="organic-CEN-8333 - FTP" publishMethod="FTP" publishUrl="ftps://waws-prod-dm1-241.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="http://organic-cen-8333.azurewebsites.net" SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="organic-CEN-8333 - Zip Deploy" publishMethod="ZipDeploy" publishUrl="organic-cen-8333.scm.azurewebsites.net:443" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="http://organic-cen-8333.azurewebsites.net" SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile></publishData>
          package: .


